@model AkademiaV2.Models.ViewModels.Alumnos_en_TallerVM




<table class="table">
    <thead>
        <tr>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


<div class="card my-3 no-b">
    <div class="card-body">
        <div class="card-title">Taller: @Model.Taller.Nombre  Fecha:@Model.Taller.FechaTaller.ToShortDateString()</div>
        <div class="card-title">Asistencia @Model.Escoger_Alumnos.Count()</div>
        <table id="example2" class="table table-bordered table-hover data-tables"
               data-options='{ "paging": false; "searching":false}'>
            <thead>
                <tr>
                    <th>Alumno</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Edad</th>
                    <th>Acompañante</th>
                </tr>
            </thead>
            <tbody>
              
                @foreach (Alumnos alumnos in Model.Escoger_Alumnos)
                {
                    <tr>
                        <td>
                            <div class="avatar avatar-md mr-3 mb-2 mt-1">
                                <img src="@alumnos.Imagen" alt="@alumnos.Nombre">
                            </div>
                        </td>
                        <td>@alumnos.Nombre</td>
                        <td>@alumnos.Apellidos</td>
                        <td>@DateTime.Today.Year-@alumnos.FechaNacimiento.Year</td>
                        <td><a asp-controller="Colaboradores" asp-action="Profile" asp-route-id="@alumnos.ColaboradorId"><i class="icon-eye mr-3"></i></a></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Alumno</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Edad</th>
                    <th>Acompañante</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>