@model AkademiaV2.Models.AlumnosTalleres

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AlumnosTalleres</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-controller="AlumnosTalleres" asp-action="CreateTaller_Alumnos">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Taller" class="control-label"></label>

                <select class="form-control" asp-for="TallerId">
                    <option value="@Model.Taller.Id">@Model.Taller.Nombre</option>
                </select>

            </div>
            <div class="form-group">
                <label asp-for="Alumnos" class="control-label"></label>

                <select multiple class="form-control" asp-for="Alumnos">


                    @*@foreach (Alumnos alumnos in Model.Alumnos)
                    {


                        <option value="@alumnos.Id">@alumnos.Nombre @alumnos.Apellidos</option>


                    }*@
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

