@model AkademiaV2.Models.Sesiones

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sesiones</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaSesion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaSesion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Evaluacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Evaluacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Edicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Edicion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
