@model AkademiaV2.Models.ViewModels.AkademiaVM




<div class="container-fluid animatedParent animateOnce">
    <div class="tab-content my-3" id="v-pills-tabContent">
        <div class="tab-pane animated fadeInUpShort show active" id="v-pills-all" role="tabpanel" aria-labelledby="v-pills-all-tab">
            <div class="row my-3">
                <div class="col-md-12">
                    <div class="card r-0 shadow">
                        <div class="table-responsive">
                            <form>
                                <table class="table table-striped table-hover r-0">
                                    <thead>
                                        <tr class="no-b">
                                            <th style="width: 30px">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" id="checkedAll" class="custom-control-input"><label class="custom-control-label" for="checkedAll"></label>
                                                </div>
                                            </th>
                                            <th>Colaborador</th>

                                            <th> <div class="d-none d-lg-block">Facilita</div></th>
                                            <th> <div class="d-none d-lg-block">Asistentes</div></th>

                                            <th> <div class="d-none d-lg-block">STATUS</div></th>
                                            <th> <div class="d-none d-lg-block">Bloque</div></th>
                                            <th> <div class="d-none d-lg-block">Ver asistentes</div></th>
                                        
                                            <th> <div class="d-none d-lg-block">Ver Infor</div></th>
                                       

                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (Talleres talleres in Model.Talleres)
                                        {

                                            <tr>
                                                <td>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input checkSingle"
                                                               id="@talleres.Id" required><label class="custom-control-label" for="@talleres.Id"></label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex">

                                                        @foreach (ColaboradoresTalleres facilitadores in Model.Facilitadores.Where(o => o.TalleresId == talleres.Id))
                                                        {
                                                            if (facilitadores.Colaboradores.Imagen.Count() >= 2)
                                                            {

                                                        <div class="avatar avatar-sm mr-3 mb-2 mt-1">
                                                            <a asp-controller="Colaboradoes" asp-action="Profile" asp-route-id="@facilitadores.Colaboradores.Id"><img src="@facilitadores.Colaboradores.Imagen" alt="@facilitadores.Colaboradores.Nombre" /></a>
                                                        </div>

                                                            }
                                                            else
                                                            {
                                                    <div class="avatar avatar-md mr-3 mb-2 mt-1">

                                                        <a asp-controller="Colaboradoes" asp-action="Profile" asp-route-id="@facilitadores.Colaboradores.Id"><img src="@facilitadores.Colaboradores.Imagen" alt="@facilitadores.Colaboradores.Nombre" /></a>

                                                    </div>

                                                            }
                                                        }
                                                      


                                                        <div>
                                                                @foreach (ColaboradoresTalleres facilitadores in Model.Facilitadores.Where(o => o.TalleresId == talleres.Id))
                                                                {
                                                            <div>
                                                                   

                                                                <strong>@facilitadores.Colaboradores.Nombre</strong>

                                                            </div>
                                                            <small> @facilitadores.Colaboradores.Email</small>
                                                                }

                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a asp-controller="AlumnosTalleres" asp-action="ShowInfo_in_TallerAlumnos" asp-route-id="@talleres.Id"><div class="d-none d-lg-block"> @talleres.Nombre</div></a> 
                                                </td>


                                                <td> <div class="d-none d-lg-block">@Model.AlumnosTalleres.Where(o => o.TallerId == talleres.Id).Count().</div></td>


                                                @if (talleres.FechaTaller < DateTime.Now)
                                                {

                                                    <td> <div class="d-none d-lg-block"><span class="icon icon-circle s-12  mr-2 text-success"></span> Realizado</div></td>
                                                }
                                                else
                                                {
                                                    <td> <div class="d-none d-lg-block"><span class="icon icon-circle s-12  mr-2 text-warning"></span> Pendiente</div></td>
                                                }

                                                <td> <div class="d-none d-lg-block"><span class="r-3 badge badge-success ">Según f</span></div></td>
                                                <td>
                                                    <a asp-controller="AlumnosTalleres" asp-action="ShowAlumnos_in_Taller" asp-route-id="@talleres.Id"><i class="icon-eye mr-3"></i></a>
                                               
                                                <td>
                                                    <a asp-controller="AlumnosTalleres" asp-action="ShowInfo_in_TallerAlumnos" asp-route-id="@talleres.Id"><i class="icon-profile-3"></i></a>

                                                </td>
                                            
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
