@model AkademiaV2.Models.ViewModels.AkademiaVM

@foreach (Akademia item in Model.Akademias)
                        {
    <header class="white pt-3 relative shadow">
        <div class="container-fluid">
            <div class="row p-t-b-10 ">
                <div class="col">
                    <div class="pb-3">

                        <div class="image mr-3  float-left">
                            <img class="user_avatar no-b no-p" src="@item.Imagen" alt="@item.Ciudad">
                        </div>
                        <div>
                            <h6 class="p-t-10">  @item.Ciudad</h6>
                            @item.Email
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <ul class="nav nav-material responsive-tab" id="v-pills-tab" role="tablist">
                    <li>
                        <a class="nav-link active" id="v-pills-tab1-tab" data-toggle="pill" href="#v-pills-tab1" role="tab" aria-controls="v-pills-tab1">
                            <i class="icon icon-home2"></i>Home
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" id="v-pills-payments-tab" data-toggle="pill" href="#v-pills-payments" role="tab" aria-controls="v-pills-payments" aria-selected="false"><i class="icon icon-university"></i>Talleres</a>
                    </li>

                    <li>
                        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false"><i class="icon icon-cog"></i>Editar Perfil</a>
                    </li>
                </ul>
            </div>

        </div>
    </header>

<div class="container-fluid animatedParent animateOnce my-3">
    <div class="animated fadeInUpShort">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-tab1" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card ">

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><i class="icon icon-mobile text-primary"></i><strong class="s-12">Phone</strong> <span class="float-right s-12">numero appuser.</span></li>
                                <li class="list-group-item"><i class="icon icon-mail text-success"></i><strong class="s-12">Email</strong> <span class="float-right s-12">@item.Email</span></li>
                                <li class="list-group-item"><i class="icon icon-address-card-o text-warning"></i><strong class="s-12">Address</strong> <span class="float-right s-12">@item.Direccion</span></li>
                                <li class="list-group-item"><i class="icon icon-web text-danger"></i> <strong class="s-12">Website</strong> <span class="float-right s-12">akademy-systems.com</span></li>
                            </ul>
                        </div>
                      

                    </div>
                    <div class="col-md-9">

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card r-3">
                                    <div class="p-4">
                                        <div class="float-right">
                                            <span class="icon-university text-light-blue s-48"></span>
                                        </div>
                                        <div class="counter-title">Edición</div>
                                        <h5 class="sc-counter mt-3">@item.Edicion</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card r-3">
                                    <div class="p-4">
                                        <div class="float-right">
                                            <span class="icon-stop-watch3 s-48"></span>
                                        </div>
                                        <div class="counter-title ">Horas Formación</div>
                                        <h5 class="sc-counter mt-3">405</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="white card">
                                    <div class="p-4">
                                        <div class="float-right">
                                            <span class="icon-orders s-48"></span>
                                        </div>
                                        <div class="counter-title">Colaboradores</div>
                                    
                                        <h5 class="sc-counter mt-3">@item.Colaboradores.Count()</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header white">
                                        <h6>Colaboradores <span class="badge badge-success r-3">@item.Colaboradores.Count()</span></h6>
                                    </div>
                                    <div class="card-body">
                                        <ul class="list-inline mt-3">
                                            @foreach (Colaboradores colaboradores in item.Colaboradores)
                                            {

                                                <li class="list-inline-item ">

                                                    <div class="avatar avatar-md mr-3 mb-2 mt-1">

                                                        <a asp-controller="Colaboradores" asp-action="Profile" asp-route-id="@colaboradores.Id">    <img src="@colaboradores.Imagen" alt="@colaboradores.Nombre"></a>
                                                    </div>
                                                </li>
                                            }




                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header white">
                                        <h6>Alumnos <span class="badge badge-success r-3">40+</span></h6>
                                    </div>
                                    <div class="card-body">
                                        <ul class="list-inline mt-3">
                                            @foreach (Alumnos alumnos in item.Alumnos)
                                            {

                                                <li class="list-inline-item ">

                                                    <div class="avatar avatar-md mr-3 mb-2 mt-1">

                                                        <a asp-controller="Alumnos" asp-action="Profile" asp-route-id="@alumnos.Id"><img src="@alumnos.Imagen" alt="@alumnos.Nombre"></a>
                                                    </div>
                                                </li>
                                            }




                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="tab-pane fade" id="v-pills-payments" role="tabpanel" aria-labelledby="v-pills-payments-tab">

                <div class="card my-3 no-b">
                    <div class="card-body">
                        <div class="card-title">Talleres </div>
                       
                        <table id="example2" class="table table-bordered table-hover data-tables"
                               data-options='{ "paging": false; "searching":false}'>
                            <thead>
                                <tr>
                                    <th>Colaborador</th>
                                    <th>Nombre</th>
                                    <th>Karrusel</th>
                                    <th>Fecha</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (Talleres talleres in item.Talleres)
                                {
                                <tr>
                                    <td>
                                        <div class="avatar avatar-md mr-3 mb-2 mt-1">
                                            @foreach (ColaboradoresTalleres facilitadores  in Model.Facilitadores.Where(o=>o.TalleresId==talleres.Id))
                                            {
                                                    <img src="@facilitadores.Colaboradores.Imagen" alt="@facilitadores.Colaboradores.Nombre">
                                               
                                        }
                                        </div>
                                    </td>
                                    <td>@talleres.Nombre</td>
                                    <td><a href="@talleres.Karrusel"><i class="icon-document-certificate"></i></a></td>
                                    <td>@talleres.FechaTaller.ToShortDateString()</td>
                                    @if (talleres.FechaTaller < DateTime.Now)
                                    {

                                        <td> <div class="d-none d-lg-block"><span class="icon icon-circle s-12  mr-2 text-success"></span> Realizado</div></td>
                                    }
                                    else
                                    {
                                        <td> <div class="d-none d-lg-block"><span class="icon icon-circle s-12  mr-2 text-warning"></span> Pendiente</div></td>
                                    }

                                </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Colaborador</th>
                                    <th>Nombre</th>
                                    <th>Karrusel</th>
                                    <th>Fecha</th>
                                    <th>Status</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>

            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <form asp-action="Edit" class="form-horizontal">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="@item.Id" />
                    <div class="form-group">
                        <label asp-for="@item.Edicion" class="control-label"></label>
                        <input asp-for="@item.Edicion" class="form-control" />
                        <span asp-validation-for="@item.Edicion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@item.Ciudad" class="control-label"></label>
                        <input asp-for="@item.Ciudad" class="form-control" />
                        <span asp-validation-for="@item.Ciudad" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@item.Direccion" class="control-label"></label>
                        <input asp-for="@item.Direccion" class="form-control" />
                        <span asp-validation-for="@item.Direccion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@item.Imagen" class="control-label"></label>
                        <input asp-for="@item.Imagen" class="form-control" />
                        <span asp-validation-for="@item.Imagen" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@item.Email" class="control-label"></label>
                        <input asp-for="@item.Email" class="form-control" />
                        <span asp-validation-for="@item.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                  
                </form>
            </div>
        </div>
    </div>
</div>
                        }

