@model IEnumerable<AkademiaV2.Models.Akademia>

@{
    ViewData["Title"] = "Index";
}
@foreach (Akademia item in Model)
                        {
    <header class="white pt-3 relative shadow">
        <div class="container-fluid">
            <div class="row p-t-b-10 ">
                <div class="col">
                    <div class="pb-3">

                        <div class="image mr-3  float-left">
                            <img class="user_avatar no-b no-p" src="@item.Imagen" alt="@item.Ciudad">
                        </div>
                        <div>
                            <h6 class="p-t-10">  @item.Ciudad</h6>
                            @item.Email
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <ul class="nav nav-material responsive-tab" id="v-pills-tab" role="tablist">
                    <li>
                        <a class="nav-link active" id="v-pills-tab1-tab" data-toggle="pill" href="#v-pills-tab1" role="tab" aria-controls="v-pills-tab1">
                            <i class="icon icon-home2"></i>Home
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" id="v-pills-payments-tab" data-toggle="pill" href="#v-pills-payments" role="tab" aria-controls="v-pills-payments" aria-selected="false"><i class="icon icon-university"></i>Talleres</a>
                    </li>

                    <li>
                        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false"><i class="icon icon-cog"></i>Editar Perfil</a>
                    </li>
                </ul>
            </div>

        </div>
    </header>

<div class="container-fluid animatedParent animateOnce my-3">
    <div class="animated fadeInUpShort">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-tab1" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card ">

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><i class="icon icon-mobile text-primary"></i><strong class="s-12">Phone</strong> <span class="float-right s-12">numero appuser.</span></li>
                                <li class="list-group-item"><i class="icon icon-mail text-success"></i><strong class="s-12">Email</strong> <span class="float-right s-12">@item.Email</span></li>
                                <li class="list-group-item"><i class="icon icon-address-card-o text-warning"></i><strong class="s-12">Address</strong> <span class="float-right s-12">@item.Direccion</span></li>
                                <li class="list-group-item"><i class="icon icon-web text-danger"></i> <strong class="s-12">Website</strong> <span class="float-right s-12">akademy-systems.com</span></li>
                            </ul>
                        </div>
                        <div class="card mt-3 mb-3">
                            <div class="card-header bg-white">
                                <strong class="card-title">Usuario</strong>

                            </div>
                            <ul class="no-b">
                                <li class="list-group-item">
                                    <a href="">
                                        <div class="image mr-3  float-left">
                                            <img class="user_avatar" src="" alt="">
                                        </div>
                                        <h6 class="p-t-10">Alexander Pierce</h6>
                                        <span><i class="icon-mobile-phone"></i>num user</span>
                                    </a>
                                </li>
                            </ul>

                            <div class="card-header bg-white">
                                <strong class="card-title">Coordinadores</strong>
                            </div>
                            <div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="image mr-3  float-left">
                                            <img class="user_avatar" src="" alt="">
                                        </div>
                                        <h6 class="p-t-10">Nombre</h6>
                                        <span> Área</span>
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-9">

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card r-3">
                                    <div class="p-4">
                                        <div class="float-right">
                                            <span class="icon-university text-light-blue s-48"></span>
                                        </div>
                                        <div class="counter-title">Edición</div>
                                        <h5 class="sc-counter mt-3">@item.Edicion</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card r-3">
                                    <div class="p-4">
                                        <div class="float-right">
                                            <span class="icon-stop-watch3 s-48"></span>
                                        </div>
                                        <div class="counter-title ">Horas Formación</div>
                                        <h5 class="sc-counter mt-3">405</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="white card">
                                    <div class="p-4">
                                        <div class="float-right">
                                            <span class="icon-orders s-48"></span>
                                        </div>
                                        <div class="counter-title">Colaboradores</div>
                                    
                                        @*<h5 class="sc-counter mt-3">@item.Colaboradores.Count().ToString()</h5>*@
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row my-3">
                            <!-- bar charts group -->
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header white">
                                        <h6>Attendance <small>Sessions</small></h6>
                                    </div>
                                    <div class="card-body">
                                        <div id="graphx" class="height-300"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- /bar charts group -->


                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header white">
                                        <h6>Colaboradores <span class="badge badge-success r-3">40+</span></h6>
                                    </div>
                                    <div class="card-body">
                                        <ul class="list-inline mt-3">
                                            @foreach (Colaboradores colaboradores in item.Colaboradores)
                                            {

                                            <li class="list-inline-item ">

                                                <div class="avatar avatar-md mr-3 mb-2 mt-1">
                                                    <img src="@colaboradores.Imagen" alt="@colaboradores.Nombre" >
                                                </div>
                                              
                                            </li>
                                            }


                                                        
                                                
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-payments" role="tabpanel" aria-labelledby="v-pills-payments-tab">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card no-b">
                            <div class="card-header white b-0 p-3">
                                <h4 class="card-title">Invoices</h4>
                                <small class="card-subtitle mb-2 text-muted">Items purchase by users.</small>
                            </div>
                            <div class="collapse show" id="invoiceCard">
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table id="recent-orders"
                                               class="table table-hover mb-0 ps-container ps-theme-default">
                                            <thead class="bg-light">
                                                <tr>
                                                    <th>Fecha</th>
                                                    <th>Nombre</th>
                                                    <th>Carpetas</th>
                                                    <th>Edición</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (Talleres talleres in item.Talleres)
                                                {

                                                <tr>
                                                    <td>@talleres.FechaTaller</td>
                                                    <td>@talleres.Nombre</td>
                                                    <td><a href="@talleres.Karrusel">Cloud Link</a></td>
                                                    <td><span class="badge badge-success">@talleres.Edicion</span></td>
                                                    @if (talleres.FechaTaller < DateTime.Now)
                                                    {

                                                        <td> <div class="d-none d-lg-block"><span class="icon icon-circle s-12  mr-2 text-success"></span> Realizado</div></td>
                                                    }
                                                    else
                                                    {
                                                        <td> <div class="d-none d-lg-block"><span class="icon icon-circle s-12  mr-2 text-warning"></span> Pendiente</div></td>
                                                    }
                                                </tr>
                                                }
                                              
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputNamea" class="col-sm-2 control-label">Name</label>

                        <div class="col-sm-10">
                            <input class="form-control" id="inputNamea" placeholder="Name" type="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                        <div class="col-sm-10">
                            <input class="form-control" id="inputEmail" placeholder="Email" type="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">Name</label>

                        <div class="col-sm-10">
                            <input class="form-control" id="inputName" placeholder="Name" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputExperience" class="col-sm-2 control-label">Experience</label>

                        <div class="col-sm-10">
                            <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputSkills" class="col-sm-2 control-label">Skills</label>

                        <div class="col-sm-10">
                            <input class="form-control" id="inputSkills" placeholder="Skills" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-danger">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
                        }

