
@model IEnumerable<AkademiaV2.Models.Colaboradores>

@{
    ViewData["Title"] = "Index";
}


    <div>
        <div>

            <div>
                <div>
                    <div class="row my-3">
                        <div class="col-md-12">
                            <div class="card r-0 shadow">
                                <div class="table-responsive">
                                    <form>
                                        <table class="table table-striped table-hover r-0">
                                            <thead>
                                                <tr class="no-b">
                                                    <th style="width: 30px">
                                                        <div class="custom-control custom-checkbox">

                                                        </div>
                                                    </th>
                                                    <th>COLABORADOR</th>

                                                    <th> <div class="d-none d-lg-block">TELÉFONO</div></th>
                                                    <th> <div class="d-none d-lg-block">TIPO</div></th>
                                                    <th></th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                @foreach (Colaboradores colaboradores in Model)
                                                {

                                                    <tr>
                                                        <td>
                                                            <div class="custom-control custom-checkbox">

                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex">
                                                                <div class="avatar avatar-md mr-3 mb-2 mt-1">
                                                                  

                                                                        <div class="avatar avatar-md mr-3 mb-2 mt-1">
                                                                            <img src="@colaboradores.Imagen" alt="@colaboradores.Nombre" />
                                                                        </div> 
                                                                        
                                                                   
                                                                </div>
                                                                <div>
                                                                    <div>
                                                                        <strong>@colaboradores.Nombre</strong>
                                                                    </div>
                                                                    <small> @colaboradores.Email</small>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td> <div class="d-none d-lg-block">@colaboradores.Telefono</div></td>

                                                        <td> <div class="d-none d-lg-block"><span class="r-3 badge badge-success ">@colaboradores.TipoColaborador</span></div></td>
                                                        <td>
                                                      
                                                            <a asp-controller="Colaboradores" asp-action="Profile"  asp-route-id="@colaboradores.Id"><i class="icon-eye mr-3"></i></a>
                                                            <a asp-controller="Colaboradores" asp-action="Edit" asp-route-id="@colaboradores.Id"><i class="icon-pencil"></i></a>
                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
             
            </div>
          
        </div>
        <!--Add New Message Fab Button-->
        <a asp-controller="Colaboradores" asp-action="Create"  class="btn-fab btn-fab-md fab-right fab-right-bottom-fixed shadow btn-primary">
            <i class="icon-add s-48"></i>
        </a>
    </div>
