
@model IEnumerable<AkademiaV2.Models.Colaboradores>

@{
    ViewData["Title"] = "Index";
}
@*<div class="p-2">

    @if (await _userManager.IsInRoleAsync(user, "SuperAdmin"))
    {
        <ul class="list-unstyled">
             Alphabet with number of contacts 
            <li class="pt-3 pb-3 sticky p-3 b-b white">

                <span class="badge r-3 badge-dark">Ambos</span>
            </li>
             Single contact 
            @foreach (Colaboradores tipo in Model)
            {
                @if (tipo.TipoColaborador == "Ambos")
                {

                    <li class="my-1">
                        <div class="card no-b p-3">
                            <div class="">

                                <div class="image mr-3  float-left">
                                    <img class="w-40px" src="@tipo.Imagen" alt="@tipo.Nombre">
                                </div>
                                <div>
                                    <div>
                                        <strong>@tipo.Nombre</strong>
                                    </div>
                                    <small> @tipo.Email</small>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            }
        </ul>

        <ul class="list-unstyled">
             Alphabet with number of contacts 
            <li class="pt-3 pb-3 sticky p-3 b-b white">

                <span class="badge r-3 badge-success">Facilitadores</span>
            </li>
             Single contact 
            @foreach (Colaboradores tipo in Model)
            {
                @if (tipo.TipoColaborador == "Facilitador")
                {

                    <li class="my-1">
                        <div class="card no-b p-3">
                            <div class="">

                                <div class="image mr-3  float-left">
                                    <img class="w-40px" src="@tipo.Imagen" alt="@tipo.Nombre">
                                </div>
                                <div>
                                    <div>
                                        <strong>@tipo.Nombre</strong>
                                    </div>
                                    <small> @tipo.Email</small>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            }
        </ul>
        <ul class="list-unstyled">
             Alphabet with number of contacts 
            <li class="pt-3 pb-3 sticky p-3 b-b white">

                <span class="badge r-3 badge-danger">Acompañantes</span>
            </li>
             Single contact 
            @foreach (Colaboradores tipo in Model)
            {
                @if (tipo.TipoColaborador == "Acompañante")
                {

                    <li class="my-1">
                        <div class="card no-b p-3">
                            <div class="">

                                <div class="image mr-3  float-left">
                                    <img class="w-40px" src="@tipo.Imagen" alt="@tipo.Nombre">
                                </div>
                                <div>
                                    <div>
                                        <strong>@tipo.Nombre</strong>
                                    </div>
                                    <small> @tipo.Email</small>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            }
        </ul>
    }

</div>*@

    <div>
        <div>

            <div>
                <div>
                    <div class="row my-3">
                        <div class="col-md-12">
                            <div class="card r-0 shadow">
                                <div class="table-responsive">
                                    <form>
                                        <table class="table table-striped table-hover r-0">
                                            <thead>
                                                <tr class="no-b">
                                                    <th style="width: 30px">
                                                        <div class="custom-control custom-checkbox">

                                                        </div>
                                                    </th>
                                                    <th>COLABORADOR</th>

                                                    <th> <div class="d-none d-lg-block">TELÉFONO</div></th>
                                                    <th> <div class="d-none d-lg-block">TIPO</div></th>
                                                    <th></th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                @foreach (Colaboradores colaboradores in Model)
                                                {

                                                    <tr>
                                                        <td>
                                                            <div class="custom-control custom-checkbox">

                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex">
                                                                <div class="avatar avatar-md mr-3 mb-2 mt-1">
                                                                    @if (colaboradores.TipoColaborador == "Facilitador")
                                                                    {

                                                                        <span class="avatar-letter avatar-letter-f  avatar-md circle"></span>
                                                                    }
                                                                    else if (colaboradores.TipoColaborador == "Acompañanate")
                                                                    {

                                                                        <span class="avatar-letter avatar-letter-c  avatar-md circle"></span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="avatar-letter avatar-letter-a  avatar-md circle"></span>
                                                                    }
                                                                </div>
                                                                <div>
                                                                    <div>
                                                                        <strong>@colaboradores.Nombre</strong>
                                                                    </div>
                                                                    <small> @colaboradores.Email</small>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td> <div class="d-none d-lg-block">@colaboradores.Telefono</div></td>

                                                        <td> <div class="d-none d-lg-block"><span class="r-3 badge badge-success ">@colaboradores.TipoColaborador</span></div></td>
                                                        <td>
                                                      
                                                            <a asp-controller="Colaboradores" asp-action="Profile"  asp-route-id="@colaboradores.Id"><i class="icon-eye mr-3"></i></a>
                                                            <a asp-controller="Colaboradores" asp-action="Edit"><i class="icon-pencil"></i></a>
                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
             
            </div>
          
        </div>
        <!--Add New Message Fab Button-->
        <a asp-controller="Colaboradores" asp-action="Create"  class="btn-fab btn-fab-md fab-right fab-right-bottom-fixed shadow btn-primary">
            <i class="icon-add s-48"></i>
        </a>
    </div>
