@model AkademiaV2.Models.Talleres

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Talleres</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaTaller)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaTaller)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Karrusel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Karrusel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Edicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Edicion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Evaluaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Evaluaciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarpetaPrincipal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarpetaPrincipal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
