@using AkademiaV2.Data;
@using AkademiaV2.Models;
@using AkademiaV2.Services;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<AppUser> _signInManager
@inject UserManager<AppUser> _userManager
@inject IColaboradores _colabServices

<!Doctype html>
    <html lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />

        <link rel="icon" href="~/Assets/img/basic/favicon.ico" type="image/x-icon">
        <title>Akademy System</title>
        <!-- CSS -->
        <link rel="stylesheet" href="~/Assets/css/app.css">

    </head>
    <body class="light sidebar-mini sidebar-collapse">
        <!-- Pre loader -->
        <div id="loader" class="loader">
            <div class="plane-container">
                <div class="preloader-wrapper small active">
                    <div class="spinner-layer spinner-blue">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-red">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-yellow">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-green">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="app">
            <aside class="main-sidebar fixed offcanvas b-r sidebar-tabs" data-toggle='offcanvas'>
                <div class="sidebar">
                    <div class="d-flex hv-100 align-items-stretch">
                        <div class="indigo text-white">
                            <div class="nav mt-5 pt-5 flex-column nav-pills" id="v-pills-tab" role="tablist"
                                 aria-orientation="vertical">
                                <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                                   aria-controls="v-pills-home" aria-selected="true"><i class="icon-university"></i></a>
                                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                                   aria-controls="v-pills-profile" aria-selected="false"><i class="icon-add"></i></a>
                                <a class="nav-link blink skin_handle" href="#"><i class="icon-lightbulb_outline"></i></a>
                                
                                <a href="">
                                    <figure class="avatar">
                                        <img src="assets/img/dummy/u3.png" alt="">
                                        <span class="avatar-badge online"></span>
                                    </figure>
                                </a>
                            </div>
                        </div>
                        
                        <div class="tab-content flex-grow-1" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                                 aria-labelledby="v-pills-home-tab">
                                <div class="relative brand-wrapper sticky b-b">
                                    <div class="d-flex justify-content-between align-items-center p-3">
                                        <div class="text-xs-center">
                                            <span class="font-weight-lighter s-18">Menu</span>
                                        </div>
                                        <div class="badge badge-danger r-0">Acceso Coordinador</div>
                                    </div>
                                </div>
                                <ul class="sidebar-menu">
                                    <li class="treeview">
                                        <a asp-controller="Akademias" asp-action="Index">
                                            <i class="icon icon-home s-24"></i> <span>Akademia</span>
                                        </a>
                                    </li>
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="icon icon-profile-2 s-24"></i>
                                            <span>Colaboradores</span>
                                            <span class="badge r-3 badge-primary pull-right">4</span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li>
                                                <a asp-controller="Colaboradores" asp-action="Index">
                                                    <i class="icon icon-circle-o"></i>Ambos
                                                </a>
                                            </li>
                                            <li>
                                                <a asp-controller="Colaboradores" asp-action="Facilitadores">
                                                    <i class="icon icon-add"></i>Facilitadores
                                                </a>
                                            </li>
                                            <li>
                                                <a asp-controller="Colaboradores" asp-action="Acompañantes">
                                                    <i class="icon icon-add"></i>Acompañantes
                                                </a>
                                            </li>
                                            <li>
                                                <a asp-controller="Colaboradores" asp-action="Busqueda"><i class="icon icon-user"></i>Buscar</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="icon icon-account_box s-24"></i>Alumnos<i class=" icon-angle-left  pull-right"></i>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li>
                                                <a asp-controller="Alumnos" asp-action="Index"><i class="icon icon-circle-o"></i>Todos</a>
                                            </li>
                                            <li>
                                                <a asp-controller="Alumnos" asp-action="Create"><i class="icon icon-circle-o"></i>Crear</a>
                                            </li>
                                            <li>
                                                <a asp-controller="Alumnos" asp-action="Busqueda"><i class="icon icon-user"></i>Buscar</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="icon icon-book-bookmark s-24"></i>
                                            <i class=" icon-angle-left  pull-right"></i>
                                            <span>Talleres</span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li>
                                                <a asp-controller="Talleres" asp-action="Index"><i class="icon icon-circle-o"></i>Todos</a>
                                            </li>
                                            <li>
                                                <a asp-controller="Talleres" asp-action="Create"><i class="icon icon-circle-o"></i>Crear</a>
                                            </li>
                                            <li>
                                                <a asp-controller="Talleres" asp-action="Busqueda"><i class="icon icon-add"></i>Buscar</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="treeview ">
                                        <a href="#">
                                            <i class="icon icon-package  s-24"></i> <span>Documentos</span>
                                            <i class=" icon-angle-left  pull-right"></i>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li>
                                                <a asp-controller="BusquedaTalleres" asp-action="Index"><i class="icon icon-circle-o"></i>Talleres</a>
                                            </li>
                                            <li>
                                                <a asp-controller="BusquedaAlumnos" asp-action="Index"><i class="icon icon-circle-o"></i>Alumnos</a>
                                            </li>
                                            <li>
                                                <a asp-controller="BusquedaFacilitadores" asp-action="Index"><i class="icon icon-date_range"></i>Facilitadores</a>
                                            </li>
                                            <li>
                                                <a asp-controller="BusquedaAcompañantes" asp-action="Index"><i class="icon icon-date_range"></i>Acompañantes</a>
                                            </li>                                           
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                <div class="relative brand-wrapper sticky b-b p-3">
                                    <form>
                                        <div class="form-group input-group-sm has-right-icon">
                                            <input class="form-control form-control-sm light r-30" placeholder="Search" type="text">
                                            <i class="icon-search"></i>
                                        </div>
                                    </form>
                                </div>
                                <div class="sticky slimScroll">

                                    <div id="infierno2" class="p-2">
                                       
                                            @if (_signInManager.IsSignedIn(User))
                                            { AppUser user = await _userManager.GetUserAsync(User);

                                                <div class="p-2">
                                                    
                                                    @if(await _userManager.IsInRoleAsync(user, "SuperAdmin"))
                                                    {
                                                        <ul class="list-unstyled">
                                                           
                                                            <li class="pt-3 pb-3 sticky p-3 b-b white">

                                                                <span class="badge r-3 badge-dark">Ambos</span>
                                                            </li>
                                                          
                                                            @foreach (Colaboradores tipo in await _colabServices.GetColaboradoresAsync())
                                                            {
                                                                @if (tipo.TipoColaborador == "Ambos")
                                                                {

                                                                    <li class="my-1">
                                                                        <div class="card no-b p-3">
                                                                            <div class="">

                                                                                <div class="image mr-3  float-left">
                                                                                    <img class="w-40px" src="@tipo.Imagen" alt="@tipo.Nombre">
                                                                                </div>
                                                                                <div>
                                                                                    <div>
                                                                                        <strong>@tipo.Nombre</strong>
                                                                                    </div>
                                                                                    <small> @tipo.Email</small>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                }
                                                            }
                                                        </ul>

                                                        <ul class="list-unstyled">
                                                           
                                                            <li class="pt-3 pb-3 sticky p-3 b-b white">

                                                                <span class="badge r-3 badge-success">Facilitadores</span>
                                                            </li>
                                                        
                                                            @foreach (Colaboradores tipo in await _colabServices.GetColaboradoresAsync())
                                                            {
                                                                @if (tipo.TipoColaborador == "Facilitador")
                                                                {

                                                                    <li class="my-1">
                                                                        <div class="card no-b p-3">
                                                                            <div class="">

                                                                                <div class="image mr-3  float-left">
                                                                                    <img class="w-40px" src="@tipo.Imagen" alt="@tipo.Nombre">
                                                                                </div>
                                                                                <div>
                                                                                    <div>
                                                                                        <strong>@tipo.Nombre</strong>
                                                                                    </div>
                                                                                    <small> @tipo.Email</small>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                }
                                                            }
                                                        </ul>
                                                        <ul class="list-unstyled">
                                                           
                                                            <li class="pt-3 pb-3 sticky p-3 b-b white">

                                                                <span class="badge r-3 badge-danger">Acompañantes</span>
                                                            </li>
                                                          
                                                            @foreach (Colaboradores tipo in await _colabServices.GetColaboradoresAsync())
                                                            {
                                                                @if (tipo.TipoColaborador == "Acompañante")
                                                                {

                                                                    <li class="my-1">
                                                                        <div class="card no-b p-3">
                                                                            <div class="">

                                                                                <div class="image mr-3  float-left">
                                                                                    <img class="w-40px" src="@tipo.Imagen" alt="@tipo.Nombre">
                                                                                </div>
                                                                                <div>
                                                                                    <div>
                                                                                        <strong>@tipo.Nombre</strong>
                                                                                    </div>
                                                                                    <small> @tipo.Email</small>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                }
                                                            }
                                                        </ul>
                                                    }
                                                    }
                                                </div>
                                            }
                                            
                                            </div>
                            </div>
                                
                        </div>
                            
                  
                        </div>
                        
                </div>
                    </div>
            </aside>

            <div class="has-sidebar-left">
                <div class="pos-f-t">
                    <div class="collapse" id="navbarToggleExternalContent">
                        <div class="bg-dark pt-2 pb-2 pl-4 pr-2">
                            <div class="search-bar">
                                <input class="transparent s-24 text-white b-0 font-weight-lighter w-128 height-50" type="text"
                                       placeholder="start typing...">
                            </div>
                            <a href="#" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-expanded="false"
                               aria-label="Toggle navigation" class="paper-nav-toggle paper-nav-white active "><i></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" data-toggle="push-menu" class="paper-nav-toggle left ml-2 fixed">
                <i></i>
            </a>
            <div class="has-sidebar-left has-sidebar-tabs">
                <!--navbar-->
                <div class="sticky">
                    <div class="navbar navbar-expand d-flex justify-content-between bd-navbar white shadow">
                        <div class="relative">
                            <div class="d-flex">
                                <div class="d-none d-md-block">
                                    <h1 class="nav-title">Dashboard</h1>
                                </div>
                                <partial name="_LoginPartial" />
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
            <!--#navbar-->
            <div class="container">
                <main role="main" class="pb-3">
                  
                    @RenderBody()
                    <br>
                </main>
            </div>
          
            <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
            <div class="control-sidebar-bg shadow white fixed"></div>
        </div>
        <!--/#app -->
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
     
        <script src="~/Assets/js/app.js"></script>
        @RenderSection("Scripts", required: false)
    </body>
    </html>